@import "../../common.css";
.left-content{width: 200px;position: absolute;top:60px;bottom: 0px;border-right: solid 1px #dddddd;}
.left-content .tag_name{height: 50px;width: 100%;text-align: center;line-height: 50px;background-color: #dddddd;color: white;}
.left-content .search{padding: 5px;}
.left-content .left-list{width: 100%;position:absolute;top:100px;bottom:0px;overflow-y: auto;overflow-x: hidden;}
.left-content ul{list-style: none;width: 200px;padding: 0px;}
.left-content ul li{height: 40px;line-height: 40px;border-bottom: solid 1px #dddddd;width: 200px;text-align: center;cursor: pointer;}
.left-content ul li.active{background-color: #00c1de;color: white;}
.right-content{position: absolute;top:60px;bottom: 0px;left: 200px;right: 0px;}
.right-content .right-top{height: 50%;width: 100%;border-bottom: solid 1px #dddddd;}
.right-content .right-bottom{height: 50%;width: 100%;}
.right-content .right-tag{height: 30px;line-height: 30px;margin-left: 20px;position: absolute;}
.right-content .right-cnt{width: 100%;}


.transfer-cls{height: 100%;}
.h-center{position: relative;left: 70%;transform: translateX(-50%)}
