@import "../../common.css";
.config{width: 99%;height: 350px;border: solid 1px #dddddd;}
.config .title{width: 100%;text-align: center;background: #dddddd;padding: 8px;}
.config .list{width: 99%;overflow-y: auto;overflow-x: hidden;height: 88%;}
.config.button{text-align: center;border: none;}
.config.button>.center{position: relative;top:50%;transform: translateY(-50%);}
.config.button>.center>button{margin-left: 0px;margin-top: 15px;}
.table-list{bottom: 40px;}
